.Characters{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.Characters .cards-contain img {
  width: 300px;
}
.Characters .cards-contain h2 {
  width: 300px;
}

.Characters .cards-contain{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Characters .cards-contain .cards-contain-hover{
  position: absolute;
  z-index: 2;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80%;
  display: none;
}
@keyframes foo {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}

.Characters .cards-contain:hover .cards-contain-hover {
  display: flex;
  /* top: 0%; */
  background-color: rgba(234, 240, 246, 0.8);
  /* animation: foo 0.5s linear; */
}
